@{
    Layout = "_Layout";
}

@using AnimalShelter.Models;
@model AnimalShelter.Models.Animal;

<h1>Details for @Model.Name</h1>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)<h3>
<h3>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)<h3>
<h3>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)<h3>
<h3>@Html.DisplayNameFor(model => model.AdmittanceDate.Date): @Html.DisplayFor(model => model.AdmittanceDate.Date)<h3>

<p>@Html.ActionLink("Back to list", "Index")</p>